@font-face {
    font-family: 'iconfont';  /* project id 603836 */
    src: url('https://at.alicdn.com/t/font_603836_zlchcj3ldviy66r.eot');
    src: url('https://at.alicdn.com/t/font_603836_zlchcj3ldviy66r.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_603836_zlchcj3ldviy66r.woff') format('woff'),
    url('https://at.alicdn.com/t/font_603836_zlchcj3ldviy66r.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_603836_zlchcj3ldviy66r.svg#iconfont') format('svg');
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
#top{
    width: 100%;
    height: 32px;
    background: #F2F2F2;
    border-bottom: 1px solid #e5e5e5;
}
.container{
    width: 1230px;
    height: 32px;
    margin: 0 auto;
}
.leftword{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #999;
    margin-left: -15px;
    float: left;
}
.leftword em{
    font-style: normal;
}
.login{
    color: #999;
    padding-right:10px;
    padding-left: 20px;
}
.login:hover{
    color: #FF0036;
}
.register{
    color: #999;
    padding: 0 10px;
}
.register:hover{
    color: #FF0036;
}
.rightword{
    float: right;
    height: 32px;
    line-height: 32px;
}
.rightword a{
    padding: 0 10px;
    padding-right: 14px;
    float: left;
}
.rwzi{
    font-size: 12px;
    color: #999;
    float: left;
}
.rwzi p{
    height: 24px;
}
.rw_first:hover .rwzi p{
    color: #FF0036;
    border-bottom:1px solid #FF0036;
}
.jiantou{
    font-size: 12px;
    color: #cccccc;
    font-family: 'iconfont';
    font-style: normal;
    position: absolute;
    right: 6px;
    top: 15px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
    transition: .3s ease-in;
}
.sn-menu:hover .jiantou{
    transform: rotate(180deg);
}
.jiantou1{
    font-family: 'iconfont';
    color: #FF0036;
    font-size: 14px;
    margin-right: 3px;
    line-height: 36px;
    float: left;
}
.rwzi1{
    font-size: 12px;
    color: #999;
    float: left;
}
.rw_first:hover .rwzi1 p{
    color: #FF0036;
}
.fengexian{
    color: #999;
    font-size: 16px;
    font-weight: 200;
    margin: 0 5px;
    float: left;
}
#search{
    width: 100%;
    height: 130px;
}
.scontainer{
    width: 1230px;
    height: 106px;
    margin: 0 auto;
}
.content{
    width: 625px;
    height: 68px;
    padding-top: 38px;
    margin: 0 auto;
    overflow: hidden;
}
.searchlan{
    width: 623px;
    height: 36px;
    border-width:2px 0 2px 2px;
    border:solid #ff0036;
}
.label{
    height: 36px;
    width: 491px;
    font-size: 14px;
    font-weight: 200;
    box-sizing: border-box;
    background: 0 0;
    padding: 5px 3px 5px 5px;
    outline: 0;
    border: none;
    background-color: #fff;
}
.searchbtn{
    width: 132px;
    height: 36px;
    float: right;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    background: #FF0036;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.content_name{
    width: 100%;
    height: 24px;
    font-size: 14px;
    margin-left: -12px;
    margin-top: 4px;
}
.content_name li{
    display: inline-block;
    padding: 0 12px;
    border-right:1px solid #ccc ;
    cursor: pointer;
}
.content_name li a{
    color: #999;
}
.content_name .lilast{
    border-right: 0;
    color: #FF0036;
}
.content_name li .fontcolor{
    color: #FF0036;
}
.bigcontent{
    width: 100%;
    height: auto;
    background: #F5F5F5;
}
.inner{
    width: 100%;
    height: 35.5px;
    border-bottom: 1.5px solid #ff0036;
    background: #fff;
}
.thing{
    width: 1230px;
    height: 35px;
    margin: 0 auto;
    /*padding-right: 30px;*/
}
.item{
    margin-left: 200px;
    width: 1030px;
    height: 35px;
    line-height: 36px;
}
.item a{
    height: 35px;
    cursor: pointer;
    float: left;
    padding: 0 8px;
    font-weight: 500;
    font-size: 16px;
    display: block;
    color: #333;
}
.item a:hover{
    color: #FF0036;
}
.item a img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
    display: block;
}

.banner{
    width: 100%;
    height: 500px;
    position: relative;
    background: #f1f1f1;
}
.list{
    /*height: 130px;*/
    /*width: 290px;*/
    position: absolute;
    top: -167px;
    left: 0px;
    z-index: 10;
}
.list img{
    width: 240px;
    height: 130px;
    /*margin: 1px 25px;*/
    /*margin: 2px auto;*/
    display: block;
    position: absolute;
    left: -15px;
}
.fenlei{
    width: 200px;
    height: 36px;
    background: #FF0036;
    position: absolute;
    top: -36px;
    /*left: 45px;*/
}
.fenlei i{
    font-family: 'iconfont';
    font-style: normal;
    font-size: 26px;
    color: #fff;
    line-height: 36px;
    margin-left: 14px;
    float: left;
}
.fenlei p{
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    margin-left: 8px;
    font-weight: 700;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    float: left;
}
.bannerimg{
    width: 100%;
    height: 500px;
    background: #0DD3F0;
    cursor: pointer;
}
.bimg{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .3s;
}
.bannerimg .active{
    opacity: 1;
}
.bimgs1{
    position: absolute;
    right: 20px;
    top: 10px;
    width: 220px;
    height: 235px;
    background: rgba(255,255,255,.7);
    display: block;
}
.bimgs2{
    position: absolute;
    right: 20px;
    top: 255px;
    width: 220px;
    height: 235px;
    background: rgba(255,255,255,.7);
    display: block;
}
.bimg1{
    background: url("../img/banner1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #E8E8E8;
}
.bimg2{
    background: url("../img/banner2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #E8E8E8;
}
.bimg3{
    background: url("../img/banner3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFF5E6;
}
.bimg4{
    background: url("../img/banner4.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #CAEEFF;
}
.bimg5{
    background: url("../img/banner5.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #697dbd;
}
.bannerlist{
    width: 200px;
    height: 500px;
    background-color: rgba(0,0,0,.55);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.bannerlist ul li{
    height: 31.2px;
    line-height: 31.2px;
    color: #fff;
    font-size: 14px;
}
.li i{
    margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
    font-family: 'iconfont';
    font-style: normal;
    display: inline-block;
    opacity: .5;
}
.li-a{
    color: #fff;
    height: 31px;
    font-size: 14px;
}
.bannerlist ul li:hover{
    background-color: #fff;
}
.bannerlist ul .li1:hover{
    color:#e54077;
}
.bannerlist ul li:hover .a1,.bannerlist ul li:hover .hot-word1{
    color:#e54077;
}
.bannerlist ul .li2:hover,.bannerlist ul .li2:hover .hot-word1{
    color:#427def;
}
.bannerlist ul li:hover .a2{
    color:#427def;
}
.bannerlist ul .li3:hover,.bannerlist ul .li3:hover .hot-word1{
    color:#6347ed;
}
.bannerlist ul li:hover .a3{
    color:#6347ed;
}
.bannerlist ul .li4:hover,.bannerlist ul .li4:hover .hot-word1{
    color:#e54077;
}
.bannerlist ul li:hover .a4{
    color:#e54077;
}
.bannerlist ul .li5:hover,.bannerlist ul .li5:hover .hot-word1{
    color:#6347ed;
}
.bannerlist ul li:hover .a5{
    color:#6347ed;
}
.bannerlist ul .li6:hover,.bannerlist ul .li6:hover .hot-word1{
    color:#427def;
}
.bannerlist ul li:hover .a6{
    color:#427def;
}
.bannerlist ul .li7:hover,.bannerlist ul .li7:hover .hot-word1{
    color:#fa5c5c;
}
.bannerlist ul li:hover .a7{
    color:#fa5c5c;
}
.bannerlist ul .li8:hover,.bannerlist ul .li8:hover .hot-word1{
    color:#f7a831;
}
.bannerlist ul li:hover .a8{
    color:#f7a831;
}
.bannerlist ul .li10:hover,.bannerlist ul .li10:hover .hot-word1{
    color:#427def;
}
.bannerlist ul li:hover .a10{
    color:#427def;
}
.bannerlist ul .li11:hover,.bannerlist ul .li11:hover .hot-word1{
    color:#dd2727;
}
.bannerlist ul li:hover .a11{
    color:#dd2727;
}
.bannerlist ul .li14:hover,.bannerlist ul .li14:hover .hot-word1{
    color:#3bc7b0;
}
.bannerlist ul li:hover .a14{
    color: #3bc7b0 ;
}
.banner_nav{
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 40px;
}
.banner_navbox{
    width: 180px;
    height: 5px;
    margin: 0 auto;
}
.banner_navbox li{
    width: 25px;
    height: 5px;
    background: #000;
    margin-left: 5px;
    display: inline-block;
    opacity: 0.6;
    cursor: pointer;
}
.banner_navbox .active{
    background: #fff;
}
.shangou{
    width: 1230px;
    height: 370px;
    margin: auto;
    padding-top: 24px;
    padding-right: 30px;
    margin-top: 10px;
}
.pinshan{
    width: 234px;
    height: 370px;
    float: left;
    margin-right: 13px;
}
.ps_title{
    width: 234px;
    height: 54px;
    border-bottom: 1px solid #eee;
    background: #fff;
    position: relative;
}
.ps_title span{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    height: 18px;
    margin-left: 10px;
}
.ps_title p{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
    line-height: 24px;
    height: 44px;
}
.ps_title a{
    position: absolute;
    right: 13px;
    top: 0;
    width: 20px;
    height: 30px;
    margin-top: 13px;
    background: url("../img/yuanjiantou.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
.pinshana{
    width: 234px;
    height: 316px;
    display: block;
}
.pinshana img{
    width: 234px;
    height: 316px;
}
.jumingpin{
    float: left;
    width: 485px;
    height: 370px;
    margin-right: 13px;
    background-color: #fff;
}
.ps_title1{
    width: 485px;
    height: 54px;
}
.ps_title a{
    width: 42px;
    height: 54px;
    line-height: 54px;
    z-index: 99;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 14px;
    font-size: 16px;
    color: #666;
    overflow: hidden;
    margin-top: 0;
}
.pinshana1{
    width: 100%;
    height: 316px;
}
.pinshana1 img{
    width: 100%;
    height: 316px;
}
.pinpaihuodong{
    margin-right: 0;
}
.pinshana img:hover{
    opacity: .7;
}
.logos{
    width: 1230px;
    height: 327px;
    margin: 0 auto;
    margin-top: 15px;
    padding-right: 30px;
}
.logobox{
    width: 100%;
    height: 327px;
    background: #f5f5f5;
    margin-right: -1px;
}
.logobox ul li{
    width: 122px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    background: #fff;
    position: relative;
}
.hezi{
    height: 108px;
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 108px;
    background-color: #fff;
}
.hezi img{
    width: 82%;
    height: 50px;
    vertical-align: middle;
}
.brand-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #333;
    transition: all .3s ease-out;
    opacity: 0;
}
.brand-mask:hover{
    opacity: 1;
}
.topword{
    width: 122px;
    height: 60px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 12px;
}
.enter{
    width: 122px;
    height: 32px;
    text-align: center;
}
.enter span{
    display: inline-block;
    width: 63px;
    height: 18px;
    border-radius: 9px;
    background-color: #FF0036;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
}
.floorport{
    margin: 20px auto 0;
    width: 1230px;
    padding-right: 30px;
}
.floorport1{
    width: 1230px;
    height: 665px;
    margin-top: 20px;
}
.floorimg{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #000;
    height: 28px;
}
.floorimg img{
    width: 214px;
    height: 28px;
}
.floortitle{
    width: 800px;
    height: 31px;
    float: right;
    text-align: right;
}
.floortitle a{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    font-size: 14px;
    color:#000;
}
.floortitle a:hover{
    border-bottom: 1px solid #000;
}
.floorcontent{
    width: 1230px;
    height: 618px;
    margin-top: 10px;
}
.floorc_left{
    width: 235px;
    height: 618px;
    float: left;
    position: relative;
}
.floorlong{
    display: block;
    width: 235px;
    height: 618px;
    float: left;
    transition: opacity .3s ease-out;
}
.floorlong:hover{
    opacity:.7;
}
.banner-detail{
    width: 218px;
    height: 64px;
    position: absolute;
    bottom: 120px;
    left: 0;
}
.left-title-wrap{
    width: 70px;
    height: 64px;
    background: rgba(0,0,0,.9);
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
}
.left-title-wrap span{
    width: 36px;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}
.right-title-wrap{
    width: 128px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 70px;
    background: rgba(0,0,0,.6);
    color: #fff;
}
.right-title-absolute{
    margin-top: 8px;
    margin-left: 14px;
}
.righttitle{
    line-height: 24px;
    font-size: 18px;
    display: block;
}
.detail-wrap{
    width: 235px;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.detailimg{
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.floorc_right{
    width: 995px;
    height: 618px;
    float: left;
}
.grid{
    width: 484px;
    height: 301px;
    margin-left: 13px;
    float: left;
    background: #fff;
}
.grid_box{
    width: 462px;
    height: 282px;
    margin: 10px;
    cursor: pointer;
}
.floorhead{
    width: 462px;
    height: 57px;
    background: #F1F1F1;
}
.floorhead li{
    width: 191px;
    height: 57px;
    padding: 0 20px;
    float: left;
    text-align: center;
    line-height: 57px;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}
.floorbottom{
    width: 462px;
    height: 225px;
    background: #fff;
    position: relative;
}
.floorbottom1{
    width: 462px;
    height: 225px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.flooricon{
    width: 291px;
    height: 87px;
    position: absolute;
    top:100px;
    background: url("../img/floorbiao.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    z-index: 2999;
}
.floorbtitle{
    margin-left: 26px;
    margin-top: 8px;
    margin-bottom: 5px;
}
.floorbtitle img{
    width: 23px;
    height: 23px;
    vertical-align: middle;
    margin-top: -10px;
}
.floorbtitle span{
    font-size: 24px;
    font-weight: 700;
    color: #00B262;
    margin-left: 8px;
}
.tab-desp{
    font-size: 20px;
    margin-left: 26px;
    color: #000;
}
.shangpinimg{
    width: 200px;
    height: 200px;
    margin-right: 30px;
    margin-top: 10px;
    float:right;
}
.grid_box:hover .shangpinimg{
    opacity: .7;
}
.floorthing1{
    display: block;
    width: 235px;
    height: 301px;
    margin-left: 13px;
    margin-bottom: 15px;
    background-color: #fff;
    float: left;

}
.floorborder{
    width: 234px;
    height: 300px;
    border: 1px solid #fff;
}
.floorborder:hover{
    border: 1px solid #FF0036;
}
.floorthing1:hover .imghover{
    opacity: .7;
}
.floorthingimg{
    margin-top: 20px;
    text-align: center;
}
.floorthingimg img{
    width: 185px;
    height: 185px;
}
.floorthing_title{
    width: 135px;
    height: 40px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    margin: 8px auto;
    overflow: hidden;
}
.floorprice{
    font-size: 18px;
    line-height: 18px;
    color: #ff0036;
}
.changer1{
    display: block;
    width: 235px;
    height: 301px;
    margin-bottom: 15px;
    position: relative;
}
.floorlong1:hover{
    opacity: .7;
}
.floorlong1{
    width: 235px;
    height: 301px;
}
.floorlong1:hover{
    opacity: .7;
}
.banner-detai2{
    bottom: 60px;
}
.changer2{
    margin-bottom: 0;
}
.detail-wrap1{
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 4%,rgba(0,0,0,.36) 100%);
}
.like{
    width: 1230px;
    margin: 0 auto;
    margin-top: 30px;
    padding-right: 30px;
}
.floorthing2{
    margin-left: 0;
}
.liketitle{
    color: #666;
    text-align: center;
    height: 43px;
    font-weight: 100;
}
.text-ctn{
    font-size: 18px;
    line-height: 20px;
    position: relative;
}
.text-ctn:before{
    content: '';
    position: absolute;
    top: 12px;
    left: -40px;
    width: 30px;
    height: 1px;
    background-color: #979797;
}
.text-ctn:after{
    content: '';
    position: absolute;
    top: 12px;
    left: 110px;
    width: 30px;
    height: 1px;
    background-color: #979797;
}
.text-ctn i{
    font-family: 'iconfont';
    font-style: normal;
    color: #ff3600;
    font-size: 20px;
    position: relative;
    top: 1px;
    margin-right: 4px;
}
.floorcontent1{
    margin-top: 0;
}
.end{
    width: 80px;
    height: 45px;
    margin: 0 auto;
    margin-top: 20px;
    background: url("../img/end.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.j_end{
    width: 100%;
    height: 10px;
}
.map{
    width: 100%;
    border-top: 1px solid #D1D7DC;
    background-color: #fff;
    text-align: center;
}
.tmall{
    width: 1190px;
    height: 100px;
    margin: 25px auto;
    background: url("../img/map1.jpg");
}
.zhandian{
    width: 1190px;
    height: 190px;
    margin: 0 auto;
    padding-top: 22px;
    border-top: 1px solid #EDEDED;
    background-image: url("../img/map2.png");
    background-repeat: no-repeat;
    background-size: 68px 25px;
    background: url("../img/map3.jpg") 45px bottom no-repeat;
}
.zhandianword1{
    width: 186px;
    float: left;
    padding-left: 52px;
}
.zhandianword1 dt{
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #646464;
    font-size: 16px;
    font-weight: 700;
}
.zhandianword1 dd{
    text-align: left;
}
.zhandianword1 dd a{
    width: 100px;
    height: 20px;
    overflow: hidden;
    text-align: left;
    line-height: 20px;
    font-size: 12px;
    color: #8b8b8b;
    display: block;
}
.zhandianword1 dd .erweima{
    width: 105px;
    height: 105px;
    line-height: 105px;
    text-align: center;
}
.erweima img{
    width: 105px;
    height: 105px;
}
.tmall-copyright{
    width: 100%;
    border-top:2px solid #ff0036;
    background-color: #000;
    text-align: left;
}
.footer{
    width: 1190px;
    height: 25px;
    padding: 5px 0;
    margin: 0 auto;
    color: #fff;
    line-height: 25px;
}
.footerword{
    font-size: 12px;
    margin-right: 3px;
    color: #fff;
}
.footer-copyright{
    width: 1190px;
    background: #000;
    margin: 0 auto;
    line-height: 20px;
    font-size: 12px;
    color: #a4a4a4;
}
.footer-copyright a{
    font-size: 12px;
    color: #a4a4a4;
    margin-right: 65px;
}
.footer-copyright a img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}
.footer-copyright b{
    display: block;
    color: #686868;
    font-weight: 400;
}
.footer-fp-img{
    width: 1190px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.footer-fp-img a{
    margin-right: 10px;
}
.footer-fp-img a img{
    width: 73px;
    height: 30px;
}
.map-num{
    width: 100%;
    height: 18px;
    background-color: #000;
}
.topbar{
    width: 100%;
    height: 50px;
    background-color: #FF0C40;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3999;
    transition: all .3s ease-out;
    opacity: .99;
    transition: all .5s linear;
    display:none;
}
.topcontainer{
    top: 0;
    width: 1230px;
    height: 50px;
    margin: 0 auto;
    padding-right: 30px;
    position: relative;
    border: none;
    overflow: hidden;
}
.fp-iconfont-new{
    width: 160px;
    height: 30px;
    margin-top: 12px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    vertical-align: middle;
}
.fp-iconfont-new span{
     font-size: 20px;
     vertical-align: middle;
    font-family: fpNewIconFont!important
}
.topsearch{
    width: 650px;
    height: 42px;
    margin: 0 auto;
}
.searchlan1{
    width: 642px;
    margin-top: 10px;
}
.label2{
    width: 510px;
    height: 30px;
}
.searchbtn1{
    height: 30px;
}
.leftbar{
    width: 35px;
    height: 444px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -673px;
    display: none;
}
.left-daohang{
    width: 36px;
    height: 36px;
    background-color: #ff0036;
    line-height: 36px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    font-size: 12px;
}
.left-detail{
    position: relative;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1px;
    background-color: #666;
    overflow: hidden;
    font-size: 12px;
}
.left-detail1:hover{
    background-color: #64C333
}
.left-detail2:hover{
    background-color: #000;
}
.left-detail3:hover{
    background-color: #EA5F8D;
}
.left-detail4:hover{
    background-color: #0AA6E8;
}
.left-detail5:hover{
    background-color: #64C333;
}
.left-detail6:hover{
    background-color: #F15453;
}
.left-detail7:hover{
    background-color: #19C8A9;
}
.left-detail-name{
    width: 24px;
    height: 28px;
    line-height: 12px;
    margin: 6px auto;
}
.left-detail i{
    font-family: 'iconfont';
    font-style: normal;
    font-size: 18px;
    margin-top: -7px;
    display: block;
    height: 13px;
}
.left-detaillast{
    background-color: #ABABAB;
}
.rightbar{
    width: 35px;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    /*padding-top: 15%;*/
}
.rightlogo{
    cursor: pointer;
    position: relative;
}
.rightlogo:hover{
    background-color: #FF0036;
}
.rightlogo:hover .rightimg{
    background: url("../img/rightcar1.png");
}
.rightlogo0{
    width: 35px;
    height: 35px;
    /*margin-top: 147px;*/
    background: url("../img/right1.png");
}
.rightlogo1{
    width: 35px;
    height: 98px;
    margin: 8px 0;
    position: relative;
    border: 1px solid #444;
    border-width: 1px 0;
}
.rightimg{
    width: 35px;
    height: 35px;
    background: url("../img/rightcar.png");
}
.rightword1{
    width: 20px;
    height: 50px;
    line-height: 16px;
    position: absolute;
    top: 40px;
    left: 7px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.rightlogo2{
    width: 35px;
    height: 35px;
    background: url("../img/right2.png");
    margin: 8px 0;
}
.rightlogo3{
    background: url("../img/right3.png");
}
.rightlogo4{
    background: url("../img/right4.png");
}
.rightlogo5{
    background: url("../img/right5.png");
}
.rightlogo6{
    background: url("../img/right6.png");
}
.rightlogo7{
    background: url("../img/right7.png");
}
.rightlogo8{
    background: url("../img/righttop.png");
}
.rightbarfenge{
    width: 35px;
    height: 63px;
}
.rightlogo-xiaoguo{
    /*display: none;*/
    opacity: 0;
    position: absolute;
    right: 35px;
    top: -1px;
    width: 90px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background-color: #494949;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.fangpianjiantou{
    font-size: 30px;
    color: #494949;
    position: absolute;
    right: -10px;
    top: 0px;
}
.rightlogo-xiaoguo1{
    width: 155px;
    height: 207px;
    background: url("../img/righttao.png");
    position: absolute;
    top: -161px;
    right: 34px;
    background-repeat: no-repeat;
    z-index: 999999;
    cursor: default;
    line-height: 12px;
    box-shadow: none;
}
.rightxiaoma{
    width: 100px;
    height: 100px;
    margin-top: 45px;
}
.fangpianjiantou1{
    font-size: 30px;
    color: #FF0036;
    position: absolute;
    right: -8px;
    bottom: 20px;
}
.sn-menu{
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
    float: left;
}
.sn-menu:hover{
    background-color: #fff;
}
.menu-bd{
    width: 74px;
    padding: 8px 10px;
    position: absolute;
    top: 32px;
    left: -1px;
    background-color: #fff;
    border: solid #eee;
    border-width: 0 1px 1px;
    display: none;
}
.menu-bd a{
    font-size: 12px;
    color: #666;
    line-height: 20px;
    padding: 0;
    display: block;
}
.menu-bd a:hover{
    color: #ff3600;
    text-decoration: underline;
}
.menu-bd1{
    width: 62px;
}
.shoujiimg{
    position: absolute;
    left: -48px;
    top: 28px;
    z-index: 1999;
    width: 175px;
    height: 227px;
    background: #fff;
    box-shadow: 0 0 5px #aaa;
    cursor: default;
}
.shoujitu{
    width: 175px;
    height: 175px;
    background: url("../img/shoujiimg.png");
    margin: 5px 0 0;
}
.shouword{
    width: 145px;
    height: 30px;
    background: url("../img/shoujiword.png");
    margin: 0 auto;
}
.shoujiwenzi{
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 85px;
    top: -15px;
    z-index: 999;
}
.menu-bd2{
    width: 122px;
    position: absolute;
    top: 32px;
    right: -1px;
    left: auto;
    z-index: 1999;
}
.menu-bd2 ul{
    margin-top: -5px;
    overflow: hidden;
}
.shangjia{
    height: 104px;
    padding: 5px 0;
    display: block;
    line-height: 1.4;
    border-bottom: 1px dotted #827777;
    margin-right: -20px;
}
.shangjia h3{
    font-weight: 700;
    color: #666;
    font-size: 12px;
}
.shangjia .shangjiaword{
    width: 48px;
    margin-right: 20px;
    line-height: 22px;
    display: inline-block;
    color: #666;
}
.shangjia1{
    height: 38px;
}
.menu-bd3{
    width: 1198px;
    position: absolute;
    top: 32px;
    right: -1px;
    left: auto;
    z-index: 999;
    padding: 25px 0;
}
.site-cont{
    width: 455px;
    height: 110px;
    padding-left: 30px;
    overflow: hidden;
    float: left;
}
.site-cont h2{
    color: #f56a00;
    font-size: 16px;
    font-weight: 100;
}
.site-list{
    margin-right: -20px;
    overflow: hidden;
}
.site-list li{
    width: 95px;
    float: left;
    padding: 3px 0;
    overflow: hidden;
    position: relative;
}
.site-list li a{
    color: #666;
}
.site-list li a:hover{
    color: #f56a00;
}
.site-index{
    width: 9px;
    height: 11px;
    background: url("../img/index.png");
    background-position: -37px -11px;
    position: absolute;
    top: 2px;
    right: 37px;
    z-index: 999;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}
.site-index1{
    background-position: -37px 0px;
}
.site-cont1{
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
.site-cont1 h2{
    color:#2263d4;
}
.site-cont1 li a:hover{
    color:#2263d4;
}
.site-cont2{
    width: 190px;
}
.site-cont2 li a:hover{
    color: #666;
}
.site-cont2 h2{
    color: #666;
}
.site-index2{
    position: absolute;
    top: 2px;
    right: 60px;
}
.site-index3{
    position: absolute;
    top: 2px;
    right: 48px;
}
.list-pannel-con{
    width: 852px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 200px;
    background: #fff;
    display: none;
}
.hot-con-line{
    width: 583px;
    height: auto;
}
.hot-con-name{
    width: 583px;
    height: 462px;
    margin: 19px 30px;
    overflow: hidden;
    background-color: #fff;
    float: left;
}
.line-title{
    width: 60px;
    height: 22px;
    margin-right: 30px;
    font-size: 14px;
    color: #333;
    font-weight: 700;
    line-height: 22px;
    float: left;
    position: relative;
}
.line-text-title{
    display: inline-block;
    width: 60px;
    overflow: hidden;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
}
.line-title:after{
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
}
.hot-con-line .line-title i{
    font-size: 12px;
    color: #000;
    font-style: normal;
    position: absolute;
    top: -4px;
    left: 46px;
}
.line-con{
    width: 493px;
    float: left;
}
.hot-con-name .hot-con-line .line-con .hot-word{
    height: 22px;
    margin-left: 13px;
    line-height: 22px;
    font-size: 14px;
    color: #666;
    float: left;
}
.hot-con-name .hot-con-line .line-con .hot-word:hover{
    color: #e54077;
}
.hot-con-name .hot-con-line .line-con .hot-word1{
    color: #e54077;
}
.clearfix{
    width: 493px;
    height: 10.5px;
    margin-bottom: 10.5px;
    border-bottom: 1px dashed rgba(0,0,0,.3);
    float: right;
}
.sub-logo-con{
    width: 189px;
    height: 480px;
    padding: 10px;
    background: #fafafa;
    float: left;
}
.sub-log-logo{
    width: 73px;
    height: 37px;
    margin-right: 1px;
    margin-bottom: 1px;
    padding: 5px 10px;
    background: #fff;
    float: left;
}
.sub-log-logoimg{
    width: 73px;
    margin: 0 auto;
}
.list-pannel-con .sub-logo-con .sub-log-con-bottom .sub-log-bottomlogo{
    width: 189px;
    height: 450px;
    display: block;
}
.sub-log-bottomimg{
    width: 189px;
    height: 87px;
    display: block;
    border-top: 10px solid #fafafa;
    background-color: #fff;
    float: left;
}
.color-mark{
    display: inline-block;
    width: 5px;
    height: 18px;
    background: #EA5F8D;
}
.floor-name{
    font-size: 18px;
    color: #000;
    height: 28px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
}
.floor-name-title{
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.floor-sub-name{
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    line-height: 18px;
    display: inline-block;
}
.color-mark1{
    background-color: #0AA6E8;
}
.color-mark2{
    background-color: #00B262;
}
.color-mark3{
    background-color: #F15453;
}
.color-mark4{
    background-color: #19C8A9;
}
.active1{
    background-color: #64C333;
}
.active2{
    background-color: #000;
}
.active3{
    background-color: #EA5F8D;
}
.active4{
    background: #0AA6E8;
}
.active5{
    background-color: #64C333;
}
.active6{
    background-color: #F15453;
}
.active7{
    background-color: #19C8A9;
}
.active8{
    background-color: #000;
}
.floorhead .active{
    background-color: #00B262;
    color: #fff;
}
.floorbottom .active{
    opacity: 1;
}
@keyframes flyIn {
    0%{
        right: 75px;
        top: -1px;
    }
    100%{
        right: 35px;
        top: -1px;
    }
}
.flyIn{
    animation: flyIn .3s ease-in forwards;
}
@keyframes flyOut {
    0%{
        right: 35px;
        top: -1px;
    }
    100%{
        right: 75px;
        top: -1px;
    }
}
.flyOut{
    animation: flyOut .3s ease-in forwards;
}



.banner_kuangkuang{
    position: relative;
    margin: 0 auto;
    width: 1230px;
}
.banner_kuangkuang1{
    width: 1230px;
    margin: 0 auto;
    position: relative;
}
.active1111{
    background-color: red;
}
.banner_xiaokuang{
    width: 1230px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.right_kuang{
    position: absolute;
    top: 30%;
}
.right_kuangkuang{
    position: absolute;
    bottom: 10%;
}